<% include ../partials/header %>

<div class="" style="margin-left:50px;margin-right:50px">
    <div class="col s12">
        <%= if (errorMsg != null){ %>
            <h1>errorMsg</h1>
        <%> } %>
}
    </div>
</div>
